name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set Variables
      run: |
        echo '::set-env name=VERSION_NUMBER::4.0.1'
        echo '::set-env name=DEPLOY_PACKAGE_URL::https://www.myget.org/F/automapperdev/api/v3/index.json'
        echo '::set-env name=DEPLOY_PACKAGE_API_KEY::${{ secrets.MYGET_CI_API_KEY }}'
        echo '::set-env name=REPO::${{ github.repository }}'
        echo '::set-env name=REPO_OWNER::${{ github.repository_owner }}'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - run: echo '::set-env name=PROJECT_NAME::AutoMapper.Extensions.ExpressionMapping'
    - name: Pack and push
      run: ./Pack_Push.ps1
      shell: pwsh
