name: Release

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Test
      run: dotnet test --configuration Release --verbosity normal /p:CollectCoverage=true /p:Threshold=94 /p:ThresholdType=line /p:ThresholdStat=Average /p:CoverletOutputFormat=opencover /p:CoverletOutput=./TestResults/ /p:ExcludeByAttribute="GeneratedCodeAttribute"

    - name: Pack and push
      env:
        PROJECT_NAME: AutoMapper.Extensions.ExpressionMapping
        DEPLOY_PACKAGE_URL: https://api.nuget.org/v3/index.json
        DEPLOY_PACKAGE_API_KEY: ${{ secrets.NUGET_API_KEY }}
        REPO: ${{ github.repository }}
        REPO_OWNER: ${{ github.repository_owner }}
      run: ./Pack_Push.ps1
      shell: pwsh
